#home {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(80px, auto);
    grid-gap: 10px;
    overflow: hidden;
    
    @import '../components/index/ArtistsSection.scss';
    @import '../components/index/AlbumsSection.scss';
    @import '../components/index/MusicsSection.scss';
    @import '../components/index/PlayerSection.scss';

}