#home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    @import '../components/index/ArtistsSection.scss';
    @import '../components/index/AlbumsSection.scss';
    @import '../components/index/MusicsSection.scss';
    @import '../components/index/PlayerSection.scss';
}