@import "../mixins.scss";

#header {
    grid-column: 1 / 13;
    background-color: $bgcolor;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    @include Animations(headerAnm, 0s);
    
    .logo {
        grid-column: 1 / 2;
        width: 35px;
        justify-self: center;
        align-self: center;
        cursor: pointer;
        padding: 5px;
        border-radius: 10px;
        box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
    }

    .search-box {
        box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
        grid-column: 4 / 10;
        display: flex;
        height: 45px;
        margin: 10px 0;
        border-radius: 10px;
    }

    .search{
        width: 20px;
        align-self: center;
        cursor: pointer;
        padding: 12px 4px;
        background-color: #2cd302;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }

    input {
        background-color: inherit;
        height: 100%;
        width: 100%;
        align-self: center;
        border-radius: 0 8px 8px 0;
        border: none;
        color: #000000;
        outline: none;
        font-size: 14px;
        &::placeholder {
            color: #000000;
            font-size: 14px;
            padding-left: 10px;
        }
    }
}