@import "../mixins.scss";

#header {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    @include Animations(headerAnm, 0s);
    .logo {
        width: 35px;
        margin-left: 10px;
        align-self: center;
        cursor: pointer;
        padding: 5px;
        border-radius: 10px;
        box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
    }
    .search-box {
        display: flex;
        height: 45px;
        min-width: 650px;
        margin: 10px auto;
        border-radius: 10px;
        box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
    }
    .search-logo{
        width: 20px;
        align-self: center;
        cursor: pointer;
        padding: 12px 4px;
        background-color: #2cd302;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }
    .search {
        background-color: inherit;
        height: 100%;
        width: 100%;
        border-radius: 0 8px 8px 0;
        border: none;
        color: #000000;
        outline: none;
        font-size: 14px;
        &::placeholder {
            color: #000000;
            font-size: 14px;
            padding-left: 10px;
        }
    }
}