@import "../../mixins.scss";

.albums-section {
    grid-column: 1 / 5;
    grid-row: 4 / 9;
    background-color: $bgcolor;
    @include Animations(albumAnm, 1.5s);

    ul {
        list-style-type: none;
        padding: 0 10px 0 10px;
        margin: 0;
        li {
            padding: 10px;
            margin: 10px 0;
            border: dashed 1px;
            cursor: pointer;
            color: #c5c5c5;
            &:hover {
                color: #5a5a5a;
            }
        }
    }

    @include Loader;
}