@import "../../mixins.scss";

#albums-section {
    min-width: 32%;
    height: 500px;
    box-shadow: -5px -5px 5px #ffffff73, 7px 7px 5px rgba(94, 104, 121, 0.288);
    border-radius: 10px;
    @include Animations(albumAnm, 2.5s);
    @include list;
    @include Loader(180px, 80px);
    h2 {
        color: #a52a2a;
    }
    overflow-y: auto;
    @include scroll;
    @include MediaQurey(900px) {
        min-width: 47%;
    };
}