@import "../../mixins.scss";

.artists-section {
    grid-column: 1 / 13;
    grid-row: 1 / 4;
    background-color: $bgcolor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include Animations(artistAnm, 1s);

    .one {
        @include artists("/img/cover/billie eilish.jpg");
    }

    .two {
        @include artists("/img/cover/dua lipa.jpg");
    }

    .three {
        @include artists("/img/cover/justin beiber.jpg");
    }

    .four {
        @include artists("/img/cover/pitbull.jpg");
    }

    .five {
        @include artists("/img/cover/selena gomez.jpg");
    }

    .six {
        @include artists("/img/cover/taylor swift.jpg");
    }

    .seven {
        @include artists("/img/cover/justin timberlake.jpg");
    }

    .eight {
        @include artists("/img/cover/enrique iglesias.jpg");
    }
    
    .nine {
        @include artists("/img/cover/Rihanna.jpg");
    }
    
    .ten {
        @include artists("/img/cover/shakira.jpg");
    }

    .eleven {
        @include artists("/img/cover/bts.jpg");
    }
}
