@import "../../mixins.scss";

.artists-section {
    grid-column: 1 / 13;
    grid-row: 1 / 4;
    background-color: $bgcolor;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 9px;
    @include Animations(artistAnm, 1s);

    .one {
        @include artists(1, 3);
    }

    .two {
        @include artists(3, 5);
    }

    .three {
        @include artists(5, 7);
    }

    .four {
        @include artists(7, 9);
    }

    .five {
        @include artists(9, 11);
    }

    .six {
        @include artists(11, 13);
    }
}
