@import "../../mixins.scss";

#artists-section {
    min-width: 100%;
    @include Animations(artistAnm, 1s);
    position: relative;
    button {
        position: absolute;
        cursor: pointer;
        border-radius: 50%;
        background-color: #41e0e7;
        top: 60px;
        width: 50px;
        height: 50px;
        outline: none;
        border: none;
        box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
        background-size: cover;
        &:active {
            box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, 0.288);
        }
        @include MediaQuery(900px) {
            top: 40px;
        }
        @include MediaQuery(600px) {
            width: 30px;
            height: 30px;
            top: 30px;
        }
    }
    .leftScroll {
        left: 5px;
        background-image: url("../../../public/img/icon/left.png");
    }
    .rightScroll {
        right: 5px;
        background-image: url("../../../public/img/icon/right.png");
    }
    .artistList {
        padding: 10px 0;
        margin: 0 60px;
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
        &::-webkit-scrollbar {
            height: 0px;
        }
        scroll-behavior: smooth;
        @include MediaQuery(600px) {
            margin: 0 40px;
        }
    }
    .artist {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 180px;
        min-width: 180px;
        border-radius: 50%;
        margin: 0 15px 10px 5px;
        box-shadow: -5px -5px 5px #ffffff73, 5px 5px 5px rgba(94, 104, 121, 0.288);
        position: relative;
        cursor: pointer;
        &:hover {
            background: linear-gradient( 30deg, #fc87da 0%, #cb94ef 33.33%, #41e0e7 66.66%, #28f6c2 100%)
        }
        @include MediaQuery (900px) {
            height: 120px;
            min-width: 120px;
        };
        @include MediaQuery(600px) {
            height: 70px;
            min-width: 70px;
            margin: 0 5px 10px 5px;
        }
        &::after {
            content: "";
            position: absolute;
            height: 88%;
            width: 88%;
            border-radius: 50%;
            box-shadow: inset 5px 5px 5px rgba(94, 104, 121, 0.288);
            background-size: cover;
        }
    }
    .one {
            &::after {
            background-image: url("/img/cover/billie eilish.jpg");
        }
    }
    .two {
            &::after {
            background-image: url("/img/cover/dua lipa.jpg");
        }
    }
    .three {
            &::after {
            background-image: url("/img/cover/justin beiber.jpg");
        }
    }
    .four {
            &::after {
            background-image: url("/img/cover/pitbull.jpg");
        }
    }
    .five {
            &::after {
            background-image: url("/img/cover/selena gomez.jpg");
        }
    }
    .six {
            &::after {
            background-image: url("/img/cover/taylor swift.jpg");
        }
    }
    .seven {
            &::after {
            background-image: url("/img/cover/justin timberlake.jpg");
        }
    }
    .eight {
            &::after {
            background-image: url("/img/cover/enrique iglesias.jpg");
        }
    }
    .nine {
            &::after {
            background-image: url("/img/cover/Rihanna.jpg");
        }
    }
    .ten {
            &::after {
            background-image: url("/img/cover/shakira.jpg");
        }
    }
    .eleven {
            &::after {
            background-image: url("/img/cover/bts.jpg");
        }
    }
}
