@import "../../mixins.scss";

#musics-section {
    min-width: 32%;
    height: 500px;
    box-shadow: -5px -5px 5px #ffffff73, 7px 7px 5px rgba(94, 104, 121, 0.288);
    border-radius: 10px;
    @include Animations(musicAnm, 2.5s);
    @include list;
    @include Loader(180px, 80px);
    h2 {
        color: #a52a2a;
    }
    li {
        display: flex;
    }
    img {
        width: 40px;
        height: 40px;
        align-self: center;
        border-radius: 50%;
        margin-right: 10px;
    }
    overflow-y: auto;
    @include scroll;
    @include MediaQuery(900px) {
        min-width: 47%;
        @include Animations(musicTabletAnm, 2.5s);
    };
    @include MediaQuery(600px) {
        min-width: 90%;
        height: 250px;
        margin-top: 10px;
        @include Loader(80px, 80px);
    };
}