@import "../../mixins.scss";


.player-section {
    grid-column: 9 / 13;
    grid-row: 4 / 9;
    background-color: $bgcolor;
    @include Animations(playerAnm, 1.5s);
    @include Loader;
    
    .music {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            width: 200px;
            margin-top: 25px;
            border: solid 4px;
            border-radius: 50px;
        }
    }

}