@import "./mixins.scss";

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dde1e7;
}
#wrapper {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
@import './components/Header.scss';
#content {
    min-width: 100%;
}
@import './pages/music.scss';
@import './components/Footer.scss';
@include keyframes;