@import "./mixins.scss";

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dde1e7;
    color: #ecf0f1;
    
}

@media screen and (min-width: 960px) {

    #wrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: minmax(50px, auto);
    }
    
    #content {
        grid-column: 1 / 13;
        grid-row: 2 / 3;
    }
    
    @import './components/Header.scss';
    @import './pages/index.scss';
    @include keyframes;

}
