@mixin artists($url) {
    height: 130px;
    border-radius: 50%;
    margin-right: 10px;
    background-image: url($url);
    background-size: cover;
    cursor: pointer;
    p {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        margin: 0;
        &:hover {
            animation-name: hover;
            animation-duration: 0.8s;
            position: relative;
            animation-fill-mode: forwards;
        }
    }
    @keyframes hover{
        0% {background-color: rgba(255, 255, 255, 0);}
        100% {background-color: rgba(255, 255, 255, 0.5);}
    }
}

@mixin artistsHover($startCol, $endCol) {
    grid-column-start: $startCol;
    grid-column-end: $endCol;
    background-color: red;
    z-index: 1;
}

@mixin Animations($name, $delay) {
    animation-name: $name;
    animation-duration: 2s;
    animation-delay: $delay;
    animation-fill-mode: both;
    position: relative;
}

@mixin keyframes {
    @keyframes headerAnm {
        0% {top: -100px;}
        100% {top: 0;}
    }
    @keyframes artistAnm {
        0% {top: -400px;}
        100% {top: 0;}
    }
    @keyframes albumAnm {
        0% {left: -510px;}
        100% {left: 0;}
    }
    @keyframes musicAnm {
        0% {bottom: -510px;}
        100% {bottom: 0;}
    }
    @keyframes playerAnm {
        0% {right: -510px;}
        100% {right: 0;}
    }
}

@mixin Loader {
    .Loader {
        margin: 100px auto;
        width: 200px;
        height: 80px;
        text-align: center;
        font-size: 10px;
    }

    .Loader > div {
        background-color: rgb(255, 0, 191);
        height: 100%;
        width: 2px;
        border-radius: 20%;
        display: inline-block;
        margin: 3px;
        animation: lines 1.2s infinite ease-in-out;
    }

    .Loader .rect2 {
        animation-delay: -1.1s;
    }

    .Loader .rect3 {
        animation-delay: -1.0s;
    }

    @keyframes lines {
        0%, 40%, 100% { 
            transform: scaleY(0.4);
        }  20% { 
            transform: scaleY(1.0);
        }
    }
}

@mixin list {
    ul {
        list-style-type: none;
        padding: 0 10px 0 10px;
        margin: 0;
        li {
            padding: 10px;
            margin: 10px 0;
            border: dashed 1.5px;
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.4);
            color: #6b566e;
            &:hover {
                color: #cf8f8f;
            }
        }
    }
}