@mixin artists($startCol, $endCol, $url) {
    grid-column-start: $startCol;
    grid-column-end: $endCol;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-image: url($url);
    background-size: cover;
    cursor: pointer;
    p {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        margin: 0;
        &:hover {
            animation-name: hover;
            animation-duration: 0.8s;
            position: relative;
            animation-fill-mode: forwards;
        }
    }
    @keyframes hover{
        0% {background-color: rgba(255, 255, 255, 0);}
        100% {background-color: rgba(255, 255, 255, 0.5);}
    }
}

@mixin artistsHover($startCol, $endCol) {
    grid-column-start: $startCol;
    grid-column-end: $endCol;
    background-color: red;
    z-index: 1;
}

@mixin Animations($name, $delay) {
    animation-name: $name;
    animation-duration: 2s;
    animation-delay: $delay;
    animation-fill-mode: both;
    position: relative;
}

@mixin keyframes {
    @keyframes headerAnm {
        0% {top: -100px;}
        100% {top: 0;}
    }
    @keyframes artistAnm {
        0% {top: -400px;}
        100% {top: 0;}
    }
    @keyframes albumAnm {
        0% {left: -500px;}
        100% {left: 0;}
    }
    @keyframes musicAnm {
        0% {bottom: -500px;}
        100% {bottom: 0;}
    }
    @keyframes playerAnm {
        0% {right: -500px;}
        100% {right: 0;}
    }
}